@media (max-width: 1600px) and (min-width: 680px) {
	.m-menu{
		display: none;
	}
}
@media (max-width: 680px){
	.header {
		flex-wrap: wrap;
		justify-content: space-around;
	}
.items_works {
		flex-wrap: wrap;
	}
	.home, .skills, .works, .home-overlay {
		min-height: 800px;
	}
	.home-overlay{
		top:0vh;
	}
	}
@media (max-width: 558px){
	.intro h1 {
		font-size: 5vh;
	}
	.visible-lg {
		display: none;
	}
	.m-menu-link {
		display: block;
		position: relative;
		right: 0;

	}
	.items_works {
		flex-wrap: wrap;
	}
}
