.phone_and_btn{
	text-align: center;
}
.top_menu img {
	width: 150px;
	height: 50px;
	display: block;
	margin:5px;
}
.navbar-nav {
	margin-left: 20px;
}
#bs-example-navbar-collapse-1 li a{
	border-top: 2px solid transparent;
	color: #333;
	text-transform: uppercase;
}
#bs-example-navbar-collapse-1 li.active a,
#bs-example-navbar-collapse-1 li a:hover{
	border-top: 2px solid #4F14FF;
	color:#4F14FF;
	background-color: transparent;
}
.phone_and_btn p {
	color: #4F14FF;
	font-size: 20px;
	font-weight: bold;
}
.phone_and_btn {
	padding-top: 15px;
}
.phone_and_btn .btn-default{
	position:relative;
	display: inline-block;
	top: -3px;
}
.slider_wrap .carousel-caption {
	text-align: left;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding-bottom: 30px;
	top: 20%;
}
.slider_text h2{
	color: white;
	font-size: 50px;
	line-height: 60px;
	text-transform: uppercase;
	font-weight: bold;
}
.slider_text li {
	list-style-type: none;
}
.slider_text li p{
	color: white;
	margin: 10px 0;
	background-color: rgba(0,0,0,0.4);
	display: inline-block;
	padding: 2px 10px;
	font-size: 18px;
}
.slider_wrap .carousel-caption ul {
	padding-left: 30px;
}
.form_top_wrap {
	position: absolute;
	z-index: 1;
	width: 100%;
}
.form_top_main {
	position: relative;
}
.form_top_wrap h3{
	padding-left: 20px;
	margin-top: 0px;
}
.form_top_wrap h3{
	text-align: center;
	text-transform: uppercase;
}
.form_top_wrap button{ 
	display: block;
	text-transform: uppercase;
	width: 100%;
}
.form_top_wrap button:hover{
	background-color: #fff;
	color: #333;
}
.form_top{
	background-color: rgba(13,17,27,0.8);
	padding: 40px;
	color:#fff;
	top: 185px;
}
.services_wrap{
	text-align: center;
}
.services_wrap h3{
	margin: 30px 0 20px;
	font-size:34px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	padding-bottom: 20px;
}
.services_wrap h3:before{
	content: "";
	height: 3px;
	width: 100px;
	background-color : #4F14FF;
	display: block;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -50px;
}
.services img{
	display: block;
	width: 50%;
	height: auto;
	border-radius: 50%;
	margin:0 auto 10px;
}
.services {
	margin-bottom: 10px;
}
.services_wrap span {
	font-size: 16px;
	color: white;
}
.reviews .carousel-caption  {
	position: relative;
	text-align: center;	
	margin-bottom: 20px;
}
.reviews .carousel-caption p{
	width: 70%;
	display: block;
	margin:0 auto;
}
.reviews {
	margin-top: 10px;
	position: relative;
	z-index: 1;
}
.reviews h3 {
	margin-top: 10px;
}
.slider_wrap .carousel-inner .item img{
	margin: 0 auto;
}
.slider_wrap {
	background: url("../img/slide_333.JPG") 50% 20px no-repeat;
	padding-left: 0px;
	padding-right: 0px;
}
.reviews  .carousel-indicators li.active{
	background-color: #fff;
}
.reviews .carousel-control.right {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 100%);
	background-repeat: repeat-x;
}
.reviews .carousel-control.left {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 100%);
	background-repeat: repeat-x;
}
.advantage_wrap {
	background: url("../img/slide_5.JPG") 50% 0 no-repeat;
	width:100%;
	padding: 10px 0px 40px;
	position: relative;
	margin-top: -30px;
}
.advantage_wrap h3 {
	font-size:34px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	padding-bottom: 20px;
}
.advantage_wrap {
	text-align: center;
}
.advantage i{
	display: block;
	color:#fff;
	margin: 20px auto 15px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
.advantage span {
	text-align: center;
	color:white;
}
.advantage{
	text-align: center;
	background-color: rgba(13, 17, 27, 0.8);
	padding: 30px 20px 40px;
}
.advantage:nth-child(2n){
	background-color: rgba(13, 17, 27, 0.7);
}
.news_wrap{
	padding: 10px 0;
}
.news_wrap h3 {
	color: #333;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}
.news_wrap span {
	color: #4F14FF;
	font-size: 16px;
	font-weight: bold;
}
.news_wrap p {
	color: #000;
	font-size: 16px;
}
.copy_wrap{
	text-align: center;
	color:#fff;
	background-color: #1e2228;
	padding:30px 0;
}
.copy_wrap p{
	margin:0px;
}
.advantage_wrap .btn-primary {
	margin-top: 20px;
	text-transform: uppercase;
	display: inline-block;
}
.advantage_wrap button:hover{
	background-color: #fff;
	color: #333;
}
@media all and (max-width: 992px) and (min-width: 768px) {
	.top_menu #bs-example-navbar-collapse-1 ul.navbar-nav{
		float: right;
	}
	.phone_and_btn{
		margin-bottom: 20px;
	}
	.slider_text h2{
		font-size:30px;  	       
	}
	.slider_wrap .carousel-caption {
		top: 5%;
	}
	.form_top {
		margin-top: -16%;
		padding: 15px;
	}
	.advantage_wrap h3 {
		padding-bottom: 0;
	}
	.advantage {
		background-color: rgba(13, 17, 27, 0.8);
		padding: 3px 3px 3px;
	}
	.news_wrap{
		text-align: center;
	}
	ol, ul {
    margin-bottom: 15px;
	}
}
	@media all and (max-width: 768px)  {
		
	.top_menu .navbar-toggle{
		border-color: #aaaaaa;
	}
	.top_menu .navbar-toggle .icon-bar{
		background-color: #aaaaaa;
	}
	#bs-example-navbar-collapse-1 li a{
		border-top: 0px solid #ac04ce;
		text-align: center;
	}
	#bs-example-navbar-collapse-1 li.active a, 
	#bs-example-navbar-collapse-1 li a:hover {
		background-color: transparent;
		border-top: 0px solid #ac04ce;
		color: #ac04ce;
	}
	#carousel-example-generic{
		display: none;
	}
	.form_top {
		padding: 15px;
	}
	.advantage_wrap h3 {
		padding-bottom: 0;
	}

	.form_top_wrap {
		position: relative;
		width: 60%;
		margin:0 auto;
		margin-top: -175px;
		margin-bottom: 185px;
	}
	.advantage {
		background-color: rgba(13, 17, 27, 0.8);
	    display: block;
	    float: none;
	    margin: 0 auto;
	    padding: 30px 20px 40px;
	    text-align: center;
	    width: 70%;
	}
	.advantage_wrap{

		background-size: cover;
	}
	.slider_wrap {
		background-size: cover; }

	.news_wrap{
		text-align: center;
		}
	ol, ul {
		margin-bottom: 13px;
		}
	
	.carousel-indicators {
    	bottom: 35px;
    }
	.reviews .carousel-caption {
    	margin-bottom: 50px;
	}
	.services span {
		color: #383838
	}
}
