
/*PRICES*/
/**************************************************/
.first-block {
    background: none;
    min-height: 755px;
}
.prices .logo img {
	width: 100%;
}
.prices .menu a, .prices .phone a{
	color: #4b79eb;
}
.prices .down svg {
    fill: #4b79eb ;
    stroke: #4b79eb;
}
.glide .down svg {
    stroke: #4b79eb !important;
}
.phone a svg {
	fill: #4b79eb;
}
.prices .signin {
	background: #fff !important;
	border: 1px solid #4b79eb !important;
	color: #4b79eb !important;
}
.prices .tryfree {
	background: #4b79eb !important;
	border: 1px solid #4b79eb !important;
	color: #fff !important;
}

.prices .menu-col a{
    color: #4b79eb !important;
}
.prices .menu a:hover, .prices .menu ul li select:hover {
    transition: all 0.2s ease !important;
    color: #f9c924 !important;
}
.prices .phone a:hover {
    color: #f9c924;
    transition: all 0.2s ease;
}
.prices .price-block {
	min-height: 1715px;
}

.prices .first-block {
	min-height: 1710px;
	background: url(../img/bg-city.png) no-repeat bottom center;
	-webkit-background-size: contain;
	background-size: contain;

}
.prices .price-block-title {
	    margin: 20px auto;

	color: #68737c;
	font-size: 2rem;
	font-family: 'Proxima Nova';
  font-weight: 300;
  max-width: 856px;
}
.prices .price-block {
	background: none;
}


.row .price-block .montly {
    background: #4d7aec;
    color: #fff;
}
.row.price-block .annual {
    background: #fff;
    color: #4d7aec;
}
.prices .price-block .h4-white {
	color: #5280e0;
}
.row.price-block .montly:hover,
.row.price-block .annual:hover {
	background: #f9c924;
/*	box-shadow: 3px 3px 7px rgba(249, 201, 36, .5);*/
}

.row.price-block.price-annual-show .montly {
    background: #fff;
    color: #4d7aec;
    border: 1px solid #fff;
}
.row.price-block.price-annual-show .annual {
    color: #fff;
    background: #4d7aec;
    border: 1px solid #fff;
}

.prices .price-block h4 {
	font-size: 3rem;
	     font-family: 'Proxima Nova';
    font-weight: 600;
}
.prices .price-block h4 span {
	font-size: 3rem;
    font-family: 'Proxima Nova';
    font-weight: normal;
    color: #f9c924;
}
.prices .price-block h2{
	color: #fff; 
}
.prices .price-items-icons {
	text-align: left;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.prices .price-icons-item {
	max-width: 300px;
	font-size: 2rem;
margin: 5px;
}
.prices .price-items-icons svg {
	width: 40px;
    vertical-align: middle;
    position: inherit;
    padding-right: 5px;
	height: 40px;

}
.cls-1, .cls-2,  .cls-3 .cls-4, .cls-5 {
	fill: #f9c924 ;
}

.prices .text-block {
	text-align: left;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}
/*.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
}*/
.prices .text-block h6 {
	font-size: 2rem;
	font-family: 'Proxima Nova';
font-weight: 600;
margin-bottom: 45px;
}
.prices .text-block p {
	font-size: 2rem;
	font-family: 'Proxima Nova';
font-weight: 300;
margin-bottom: 85px;
}
.prices .footer .phone a {
    color: #fff;
}
.prices .footer .phone a svg {
    fill: #fff;
}
.prices .footer .phone a:hover {
    color: #f9c924;
    transition: all 0.2s ease;
    }
 .prices .footer  .phone a:hover svg {
    fill: #f9c924;
}
.prices .footer .down svg {
    
    stroke: #fff;
}
.prices .five-block {
    min-height: 900px;
    padding-top: 120px;
    }
.footer .menu a:hover svg {
	stroke: #f9c924;
}
.footer .tryfree	 {
	background: #f9c924 !important;
}
.left-side-text, .right-side-text {
	width: 40%;
 display: -webkit-flex;
 display: -moz-flex;
 display: -ms-flex;
 display: -o-flex;
 display: flex;
 -webkit-flex-direction: column;
 -moz-flex-direction: column;
 -ms-flex-direction: column;
 -o-flex-direction: column;
 flex-direction: column;
 justify-content: space-around;
}

.prices .footer .tryfree {
	color: #4b79eb !important;
}


@media (max-width: 1300px) {
.prices .first-block {
    background-size: 120%;
}
}



@media (max-width: 1024px) {
.prices .first-block {
    background-size: 140%;
}
}





@media (max-width: 769px) {
.prices .first-block {
        min-height: 1530px !important;
}
.prices .price-block {
    min-height: 1540px;
}

}

@media (max-width: 561px) {
.prices .first-block {
    background-size: 382%;
}

.prices .grey {
    background-position-y: 358%;
}
.prices .text-block h6 {
  
    margin-bottom: 10px;
}
.prices .text-block p {
    margin-bottom: 15px;
}

}


@media (max-width: 426px){
.prices .first-block {
    background-size: 510%;
}
.prices .text-block {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.left-side-text, .right-side-text {
    width: 100%;
}

@media (max-width: 320px){
.prices .first-block .header {
    background: none;
}

.prices .price-icons-item {
    width: 220px;
    margin: 0 auto;
}
.prices .first-block {
    background-size: 759%;
}

}









