
.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.hands {
	color: #d3d7dd;
	min-height: 750px;
	width: 33%;
	background: url(../img/hands-bg-blue+vawes.svg) no-repeat center center;
	background-size: cover;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}
.text p {
	padding: 5px;
}
.main, .main-rock {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.loginin {
	width: 60%;
	padding: 40px 40px 40px 100px;
}
.get {
	padding-right: 60px;
	padding-top: 50px;
	padding-bottom: 230px;
	text-align: right;
	width: 100%;
}
.get p {
	  margin-right: 30px;
	display: inline-block;
	font-size: 2rem;
}
.get a {
	text-decoration: none !important;
    padding: 15px 35px;
    border-radius: 30px;
    margin: 5px;
    border: 1px solid #4f7eee;
    font-size: 2rem;
    color: #4f7eee;
}
.get a:hover {
	transition: all 0.2s ease;
    background: #f9c924;
    color: #fff;
    font-size: 2rem;
    border: 1px solid #f9c924;
    }
.logo {
	padding-top: 80px;
	width: 60%;
	margin: 0 auto;
}
.logo svg {
	width: 100%;
}
.text p {
	margin: 0 auto;
	font-size: 2rem;
	color: #fff;
	max-width: 390px;
	/*padding-bottom: 90px;*/
}
.hands-pic {
	    padding-bottom: 115px;
}
.logo svg { 
	max-width: 280px;
	height: 58px;
 }
.logo svg .cls-2 {
	fill: #fff;
}
.copy1 {
	font-size: 2rem;
	background: none;
	color: #3e68e2;
	  /*flex: 0 0 auto;*/

}
.form h2, .try-block h2 {
	font-size: 3rem;
    color: #5280e0;
   
    font-family: 'Proxima Nova';
    font-weight: 600;
    margin-bottom: 10px;
}

.form p{
	font-size: 2rem;
	 margin-bottom: 60px;
	 color: #68737c;
}
.label-input {
	font-size: 1.8rem;	
	margin-bottom: 5px !important;
	/*display: inline-block;*/
}
.label-input-a {
	font-size: 1.8rem;	
	margin-bottom: 5px !important;
	/*display: inline-block;*/
	position: relative;
	left: 0;
}
.pass-block {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	width: 80%;
}
	.form input {
		padding-left: 20px;
		font-size: 2rem !important;
		color: #d3d7dd ;
		outline: none;
		border-radius: 5px;
		border: 1px solid #d3d7dd;
		height: 60px;
		width: 80%;
		margin-bottom: 30px !important;
}

.form input:hover {
	transition: .25s;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, .25);
}

#sub {

	font-size: 2rem;
	    padding: 15px 35px;
    border-radius: 30px;
    margin-top: 30px;
    width: 217px;
    background: #4b79eb !important;
    border: 1px solid #4b79eb !important;
    color: #fff !important;
}
#sub:hover {
	transition: all 0.2s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
/*+++++++++++++++++++++++++++++*/
/*TRY FREE PAGE */

.rocket {
color: #d3d7dd;
	min-height: 750px;
	width: 40%;
	background: url(../img/rocket-bg.svg) no-repeat center center;
	background-size: cover;
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}

.four-buttons {
    margin: 0 auto;
}

#rocket {
	width: 35%;
}
.personal {
	margin-bottom: 60px;
}
.personal, .company {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.try-block {
	padding: 66px 5% 0;
	width: 60%;
	
}
.personal-left, .personal-right, .company-right, .company-left {
	width: 50%;
	margin: 10px;
}
.tryform input{
	width: 100% !important;
	padding-left: 20px;
		font-size: 2rem !important;
		color: #d3d7dd ;
		outline: none;
		border-radius: 5px;
		border: 1px solid #d3d7dd;
		height: 60px;
		
		margin-bottom: 30px !important;
}

.tryform input:hover {
	transition: .25s;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, .25);
}

#sub2 {
	
	font-size: 2rem;
	    padding: 15px 35px;
    border-radius: 30px;
    margin-top: 30px;
    width: 400px !important;
    background: #4b79eb !important;
    border: 1px solid #4b79eb !important;
    color: #fff !important;
}
#sub2:hover {
	transition: all 0.2s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.try-block h2 {
	margin-bottom: 60px;
}
.tryform h4 {
	font-size: 2rem;
	 font-family: 'Proxima Nova';
    font-weight: 600;
    color: #68737c;
    margin-bottom: 30px;

}
.tryform p {
	font-size: 2rem;
	 margin-bottom: 10px;
	 color: #68737c;
}
.tryform .check {

	    height: 15px !important;
    width: 17px !important;

}

.copy2 {
	font-size: 2rem;
	background: none;
	color: #3e68e2;
	text-align: center;
	display: none;
	margin: 0 auto;
}

/*try page media */
@media (max-width: 1190px) { 
.four-buttons a {
    width: 148px !important;
}
.four-buttons .gplay, .four-buttons .appstore  {
    -webkit-background-size: contain;
    background-size: contain;
}
}

@media (max-width: 769px) {
	.four-buttons  {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.four-buttons .gplay, .four-buttons .appstore{
		display: block;
		margin: 10px auto;
		width: 160px;
	}
}
  /*************/

@media (max-width: 1024px) {
.get {
    padding-right: 0px;

    padding-bottom: 40px;
}
}

@media (max-width: 769px) {
	.logo {
		width: 90%;
	}
	.get {
    padding-bottom: 140px;
}
.get a {
	  padding: 10px 35px;
}
.loginin {
    text-align: center;
}

.pass-block {
    margin: 0 auto;
}
.loginin {
   
    padding: 10px;
}


@media (max-width: 627px) {
.get { 
	text-align: center;
    padding-bottom: 40px;
	
}
.get p {
	margin: 10px auto ;
}
.get a {
	display: block;
	width: 200px;
	margin: 0 auto;
        padding: 10px;
}


}



@media (max-width: 627px) { 
	.main {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	background: url(../img/hands-bg-blue+vawes.svg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	}
	.hands, .loginin {
		width: 100%;
	}
.hands {

	background: none;
}
.logo {
    padding-top: 30px;
    }
.hands-pic {
	padding-bottom: 20px;
}
.loginin {
	color: #fff;
}
.copy2 {
	display: block;
}
.copy1 {
	display: none;
}

.get a { 
border: 1px solid #fff; 
color: #fff;
}
.form h2, .form p  {
	color: #fff;
}
.label-input-a {
	color: #fff;
}
.get {
	padding: 10px;
}
.hands {
	justify-content: none;
	min-height: auto;
}
}

/*TRY FREE MEDDIA */





@media (max-width: 627px) { 
	.rocket {
		background: none;
		justify-content: unset;
		min-height: auto;
	}
	.main-rock {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	background: url(../img/rocket-bg.svg) no-repeat center center;
	-webkit-background-size: cover;
	background-size: cover;
	}
.rocket, .try-block {
		width: 100%;
	}
	.try-block p, .try-block h4{
		color: #fff;
	}
.try-block h2 {
	text-align: center;
		color: #fff;
	}
	.try-block {
    padding: 10px;

}

.tryform input {
   
    margin-bottom: 10px !important;
}
.personal {
    margin-bottom: 30px;
}
.try-block .grey-mob {
	color: grey;
}
#sub2 {
	width: 90% !important;
	margin: 10px auto;
}

}

@media (max-width: 627px) { 
	.personal, .company {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;

	}
.personal-left, .personal-right, .company-right, .company-left {
	width: 100%;
}
}